@model RestoreFootball.Models.Gameweek

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gameweek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GreenScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GreenScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonBibsScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonBibsScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YellowScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrangeScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrangeScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
