@model RestoreFootball.Models.Gameweek

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link href="~/css/signup.css" rel="stylesheet" />
<link href="~/css/dropdown.css" rel="stylesheet" />
<script src="~/js/dropdown.js"></script>
<script src="~/js/gameweek.js"></script>@*
<script src="~/js/teams.js"></script>*@
<link href="~/css/gameweeks.css" rel="stylesheet" />
<link href="~/css/teams.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<h4>Gameweek</h4>
<hr />

<form class="bordered-container" id="edit-content">
    <div class="score-line">
        <label for="YellowScore">Yellow Score:</label>
        <span>@Model.YellowScore</span>
    </div>

    <div class="score-line">
        <label for="GreenScore">Green Score:</label>
        <span>@Model.GreenScore</span>
    </div>

    <div class="score-line">
        <label for="OrangeScore">Orange Score:</label>
        <span>@Model.OrangeScore</span>
    </div>

    <div class="score-line">
        <label for="NonBibsScore">NonBibs Score:</label>
        <span>@Model.NonBibsScore</span>
    </div>

    <div id="groupings">
        @foreach (var grouping in Model.Groupings)
        {
            <div class="bordered-container" style="max-width: 350px;">
                <input type="text" placeholder="Enter player name..." class="groupingSearch2" id="playerSearch-@grouping.Id" onkeyup="filterFunction(this.id, 'dropdown-content-@grouping.Id')">
                <div class="dropdown">
                    <div id="dropdown-content-@grouping.Id" class="dropdown-content">
                        @{
                            @foreach (var gameweekPlayer in ViewBag.UngroupedGameweekPlayers)
                            {
                                <p class="dropdown-element" onclick="location.href='@Url.Action("AddToGrouping", "Gameweeks", new { groupingId = grouping.Id, gameweekPlayerId = gameweekPlayer.GameweekPlayer.Id, gameweekId = Model.Id })'">@gameweekPlayer.Player.FirstName @gameweekPlayer.Player.LastName</p>
                            }
                        }
                    </div>
                </div>
                @foreach(var gameweekPlayer in grouping.GameweekPlayers)
                {
                    <p class="groupedPlayer" onclick="location.href='@Url.Action("RemoveFromGrouping", "Gameweeks", new { groupingId = grouping.Id, gameweekPlayerId = gameweekPlayer.Id, gameweekId = Model.Id })'">@gameweekPlayer.Player.FirstName @gameweekPlayer.Player.LastName</p>
                }
                <span class="delete-grouping" onclick="location.href='@Url.Action("DeleteGrouping", "Gameweeks", new { groupingId = grouping.Id, gameweekId = Model.Id })'">Delete Grouping</span>
            </div>
        }
            <span class="add-grouping" onclick="location.href='@Url.Action("CreateGrouping", "Gameweeks", new { gameweekId = Model.Id })'">Add Grouping</span>
        </div>
</form>

<div class="bordered-container">
    <h1 class="display-5">Teams</h1>
    <div id="teams" class="row">
        <div id="yellow" class="col-sm-2">
            <h3 class="team-header">Yellows</h3>
        </div>
        <div id="green" class="col-sm-2">
            <h3 class="team-header">Greens</h3>
        </div>
        <div id="orange" class="col-sm-2">
            <h3 class="team-header">Oranges</h3>
        </div>
        <div id="non-bibs" class="col-sm-2">
            <h3 class="team-header">Non-Bibs</h3>
        </div>
    </div>
    <div id="loading">
        <div class="spinner"></div>
        Recalculating teams...
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
