@model RestoreFootball.Models.Gameweek

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link href="~/css/signup.css" rel="stylesheet" />
<link href="~/css/dropdown.css" rel="stylesheet" />
<script src="~/js/dropdown.js"></script>
<script src="~/js/gameweek.js"></script>

<h1>Edit</h1>

<h4>Gameweek</h4>
<hr />
<form class="bordered-container">
    <label for="GreenScore">Green Score:</label>
    <input type="number" id="GreenScore" name="GreenScore"><br><br>

    <label for="NonBibsScore">NonBibs Score:</label>
    <input type="number" id="NonBibsScore" name="NonBibsScore"><br><br>

    <label for="YellowScore">Yellow Score:</label>
    <input type="number" id="YellowScore" name="YellowScore"><br><br>

    <label for="OrangeScore">Orange Score:</label>
    <input type="number" id="OrangeScore" name="OrangeScore"><br><br>

    <label for="dropdown">Groupings:</label>

    <div id="groupings">
        @foreach (var grouping in Model.Groupings)
        {
            <div class="dropdown">
                <input type="text" placeholder="Enter player name..." class="playerSearch" id="playerSearch-@grouping.Id" onkeyup="filterFunction(this.id, 'dropdown-content-@grouping.Id')">
                <p onclick="location.href='@Url.Action("DeleteGrouping", "Gameweeks", new { groupingId = grouping.Id, gameweekId = Model.Id })'">Delete Grouping</p>
                <div id="dropdown-content-@grouping.Id" class="dropdown-content">
                    @{
                        @foreach (var gameweekPlayer in ViewBag.UngroupedGameweekPlayers)
                        {
                            <p class="dropdown-element" onclick="location.href='@Url.Action("AddToGrouping", "Gameweeks", new { groupingId = grouping.Id, gameweekPlayerId = gameweekPlayer.GameweekPlayer.Id, gameweekId = Model.Id })'">@gameweekPlayer.Player.FirstName @gameweekPlayer.Player.LastName</p>
                        }

                    }
                </div>
            </div>
            <div class="grouping bordered-container">
                @foreach(var gameweekPlayer in grouping.GameweekPlayers)
                {
                    <p class="groupedPlayer" onclick="location.href='@Url.Action("RemoveFromGrouping", "Gameweeks", new { groupingId = grouping.Id, gameweekPlayerId = gameweekPlayer.Id, gameweekId = Model.Id })'">@gameweekPlayer.Player.FirstName @gameweekPlayer.Player.LastName</p>
                }
            </div>
        }
        <p onclick="location.href='@Url.Action("CreateGrouping", "Gameweeks", new { gameweekId = Model.Id })'">Add Grouping</p>
    </div>

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
