@model IEnumerable<RestoreFootball.Models.Gameweek>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="gameweek-table" class="table">
    <thead class="primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreenScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonBibsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YellowScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrangeScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yy}", item.Date))
            </td>
            <td>
                @(item.GreenScore == null ? "TBD" : item.GreenScore)
            </td>
            <td>
                @(item.NonBibsScore == null ? "TBD" : item.NonBibsScore)
            </td>
            <td>
                @(item.YellowScore == null ? "TBD" : item.YellowScore)
            </td>
            <td>
                @(item.OrangeScore == null ? "TBD" : item.OrangeScore)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
