@model IEnumerable<RestoreFootball.Models.Gameweek>

@{
    ViewData["Title"] = "Index";
    var mostRecentGameweek = Model.OrderByDescending(gw => gw.Date).FirstOrDefault();
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link href="~/css/gameweeks.css" rel="stylesheet" />

<h1>Gameweeks</h1>

<table id="gameweek-table" class="table">
    <thead class="primary">
        <tr>
            <th>
                Date
            </th>
            <th>
                Green
            </th>
            <th>
                Non-Bibs
            </th>
            <th>
                Yellow
            </th>
            <th>
                Orange
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("Edit", "Gameweeks", new { id = item.Id })'">
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yy}", item.Date))
                </td>
                <td>
                    @(item.GreenScore == null && item == mostRecentGameweek ? "TBD" : item.GreenScore)
                </td>
                <td>
                    @(item.NonBibsScore == null && item == mostRecentGameweek ? "TBD" : item.NonBibsScore)
                </td>
                <td>
                    @(item.YellowScore == null && item == mostRecentGameweek ? "TBD" : item.YellowScore)
                </td>
                <td>
                    @(item.OrangeScore == null && item == mostRecentGameweek ? "TBD" : item.OrangeScore)
                </td>
            </tr>
        }
    </tbody>
</table>
